*:focus {
	outline: 0;
}
body{
	background: #f7f8fa;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-smooth: always !important;
}
body, html{
	width: 100%;
	height: 100%;
}
body.isOpen{
	position: absolute;
	margin-left: -70%;
}
::selection {
	background: #52c8a9;
	color: #ffffff;
}
::-moz-selection {
	background: #52c8a9;
	color: #ffffff;
}
.text-center {
	text-align: center;
}

.zindex {
	z-index: 9999;
	position: relative;
}

.centerize {
	margin-top: 10%;
}

.100h {
    height: calc(100vh) !important;
    min-height: 100vh !important;
    height: 100vh !important;
}

.pt10 { padding-top: 10px;}
.pt20 { padding-top: 20px;}
.pt30 { padding-top: 30px;}

.pb10 { padding-bottom: 10px;}
.pb20 { padding-bottom: 20px;}
.pb30 { padding-bottom: 30px;}

.pr10 { padding-right: 10px;}
.pr20 { padding-right: 20px;}
.pr30 { padding-right: 30px;}

.pl10 { padding-left: 10px;}
.pl20 { padding-left: 20px;}
.pl30 { padding-left: 30px;}


.mt10 { margin-top: 10px;}
.mt20 { margin-top: 20px;}
.mt30 { margin-top: 30px;}

.mb10 { margin-bottom: 10px;}
.mb20 { margin-bottom: 20px;}
.mb30 { margin-bottom: 30px;}

.mr10 { margin-right: 10px;}
.mr20 { margin-right: 20px;}
.mr30 { margin-right: 30px;}

.ml10 { margin-left: 10px;}
.ml20 { margin-left: 20px;}
.ml30 { margin-left: 30px;}

nav{
	width: 100%;
	padding: 30px 100px 30px 100px;
	box-sizing: border-box;
	z-index: 19;
	-webkit-transition: all 0.4s linear;
	transition: all 0.1s linear;
}
nav .logo{
	display: block;
}
nav .logo2{
	display: none;
}
nav .logo, nav .logo2 {
	float: left;
	margin-top: 3px;
	margin-left: 100px;
}
@media all and (max-width: 800px) {
	nav .logo, nav .logo2 {
		margin-left: 0px;
	}
}
nav .logo img, nav .logo2 img {
	width: auto !important;
}

.logo:hover {
	opacity: 0.8;
}
.logo2:hover {
	opacity: 0.8;
}
nav ul{
	float: right;
}
nav ul li{
	color: #ffffff;
	float: left;
}
nav ul li form {
	display: inline-block;
}
nav ul li a, nav ul li form a{
	text-transform: uppercase;
	height: 32px;
	color: #ffffff;
	text-decoration: none;
	line-height: 32px;
	display: inline-block;
}
nav ul li a:hover, nav ul li a:hover{
	border-bottom: 1px solid #ffffff;
	cursor: pointer;
}
nav ul li+li{
	margin-left: 26px;
}

nav ul li+li i {
	padding-right: 7px;
}
nav ul li:last-child{
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 3px;
	border: 1px solid #ffffff;
	-webkit-transition: background 0.3s; /* Safari */
	transition: background 0.3s;
	background: transparent;
	padding: 0px 0px;
}
nav ul li:last-child a{
	color: #ffffff;
	padding: 0px 17px;
}
nav ul li:last-child:hover{

}
nav ul li:last-child:hover a{
	border: none;
}

header{
	width: 100%;
	height: 100%;
	position: relative;
}
header .bg {
	min-height: calc(100vh);
	min-height: 100vh;
	width: 100%;
	background: url("../../img/new/headbg.jpg") center top no-repeat;
	background-size:cover;
}
header .bg p{
	text-align: center;
	line-height: 34px;
	font-size: 40px;
	color: #ffffff;
	padding-top: 140px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
header .bg h1{
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	padding: 15px 0px 5px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
header .bg span{
	width: 460px;
	height: 55px;
	display: block;
	margin: 0 auto;
	position: relative;
}
header .bg span:before{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 30px;
	display: block;
	content:" ";
	background: url('../../img/new/iconSearch.png') center center no-repeat;
}
header .bg input[type=text]{
	background: none;
	border: none;
	border-bottom: 1px solid rgba(187, 187, 187, .5);
	width: 460px;
	margin: 15px auto;
	line-height: 54px;
	position: relative;
	padding-left: 47px;
	padding-right: 27px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 21px;
	color: #ffffff;
	text-align: center;
}
header .bg input:hover {
	opacity: 0.8;
}
header .bg span:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 14px 14px;
	border-color: transparent transparent #07c0a1 transparent;
	content: " ";
	display: block;
	position: absolute;
	bottom: -17px;
	right: 0px;
}
header .bg input[type=submit]{
	font-size: 13px;
	color: #ffffff;
	background: #07c0a1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
	text-transform: uppercase;
	border: none;
	width: 175px;
	height: 45px;
	line-height: 45px;
	display: block;
	margin: 61px auto 0px auto;
	padding: 0;
	font-weight: 500;
	cursor: pointer;
}

header.noSearch .bg input[type=submit]{
	margin: 15px auto 0px auto;
}
header.noSearch .bg p {
	padding: 16px 0px 2px 0px;
}
header.noSearch .bg {
	height: 100%;
}


header .bg input[type=button]:hover{
	color: #ffffff;
	background: #00deb8;
	opacity: 1;
}
header .headerimg img{
	width: 552px;
	height: 336px;
	display: block;
	margin: 0px auto 0px auto;
}

header.newImage .bg .headerimg{
	top: 23px;
}
header.newImage.noSearch .bg .headerimg {
	top: inherit;
	position: absolute;
	width: 100%;
	bottom: 81px;
}
header.newImage .headerimg img{
	max-width: 830px;
	min-width: 606px;
	width: 60%;
	height: inherit;
}
header.newImage .bg p {/*new*/
	/** padding: 130px 50px 0px 50px; **/
	position: relative;
}
header.newImage .bg h1 {
	padding: 28px 0px 0px 0px;
}
header.newImage .bg input[type=submit]{
	margin: 29px auto 0px auto;
}


header .separator{
	width: 100%;
	height: 80px;
	background: #e6e5e3;
	margin-top: -90px;
}
header .companies{
	width: 100%;
	height: initial;
	background: #ffffff;
	border-top: 1px solid #d2d2d2;
	-webkit-box-shadow: 0 1px 1px 0 rgba(50,50,50,.3);
	-moz-box-shadow: 0 1px 1px 0 rgba(50,50,50,.3);
	box-shadow: 0 1px 1px 0 rgba(50,50,50,.3);
	position: absolute;
	bottom: 0px;
	left: 0px;
	min-height: 81px;
	padding-top: 18px;
}

@media all and (max-width: 960px) {
	.centerize {
		margin-top: 30%;
	}
}

.headerimg {
	opacity:1;
	filter:alpha(opacity=0);
	position: relative;	top: 75px;	z-index: 9;
}
.imgfade1 {
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.imgfade2 {
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.imgfade3 {
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.box{
	width: 100%;
	position: relative;
	overflow-x: hidden;
	background: #f7f8fa;
	overflow: hidden;
}

.box.boxTwo{
	background: #ffffff;
	border-top: 1px solid #e0e0e1;
	border-bottom: 1px solid #e0e0e1;
	overflow: hidden;
}
.box .center{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}
.box h2{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #3a3a3a;
	font-size: 40px;
	position: relative;
}
.box h2:before{
	content: " ";
	width: 29px;
	height: 4px;
	background: #07c0a1;
	position: absolute;
	top: -20px;
	left: 0px;
}
.box p{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #3a3a3a;
	font-size: 16px;
	line-height: 28px;
	position: relative;
	padding-top: 25px;
}
.box .text{
	float: left;
	transform: translateY(-50%);
	width: 35%;
}
.box .text input[type=button]{
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 13px;
	color: #ffffff;
	background: #07c0a1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
	text-transform: uppercase;
	border: none;
	width: 175px;
	height: 45px;
	line-height: 45px;
	display: block;
	margin: 30px 0;
	padding: 0;
	font-weight: 400;
	cursor: pointer;
}
.box .text input[type=button]:hover{
	color: #ffffff;
	background: #00deb8;
	opacity: 1;
}
.box.boxOne .image{
	background: url("../../img/new/box1.jpg")left top;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 58%;
	width: 853px;
	height: 630px;
}
.box.boxTwo .image {
	right: 57%;
	background: url("../../img/new/box2flat.jpg")left top;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: inherit;
	width: 1032px;
	height: 631px;
}
.box.boxThree .image {
	background: url("../../img/new/box3.jpg")left top;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	width: 968px;
	height: 648px;
}
.box.boxTwo .text{
	float: right;
	transform: translateY(-50%);
	width: 35%;
}
.mapContainer{
	width: 100%;
	height: 885px;
	background: #22272a;
}
.mapContainer h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	font-size: 40px;
	padding: 110px 0px 10px 0px;
}
.mapContainer h3 span{
	color: #4ccbaa;
}
.mapContainer p{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #677b85;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	max-width: 80%;
	margin: 0 auto;
}
.mapContainer img{
	display: block;
	margin: 0 auto;
	max-width: 1077px;
	width: 100%;
}
.mapContainer>span{
	display: block;
	text-align: center;
	margin-top: -45px;
}
.mapContainer a{
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #42cbaa;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	padding-bottom: 10px;
}
.mapContainer a:before{
	content: " ";
	background: url("../../img/new/iconPlay.png") center center no-repeat;
	width: 34px;
	height: 34px;
	display: inline-block;
	margin: 0px 10px 0px 0px;
	position: relative;
	top: 10px;
}
.mapContainer a:hover{
	text-decoration: underline;
}
.sliderContainer{
	width: 100%;
	background: #ffffff;
	border-top: 1px solid #e0e0e1;
	border-bottom: 1px solid #e0e0e1;
	padding-bottom: 60px;
}
#owl{
	max-width: 1600px;
	width: 80%;
	margin: 0 auto;
}
.owl-carousel .owl-item {
	width: 320px;
	position: relative;
	padding-left: 60px;
	padding-right: 20px;
	box-sizing: border-box;
}
/* 50 Shades of Gray 
#owl .item.transparent{
	opacity: 0.24;
}*/
#owl .item .talk{
	color: #3a3a3a;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 30px;
	position: relative;
}
#owl .item .talk:before{
	background: url("../../img/new/iconQuote.png") center center no-repeat;
	position: absolute;
	left: -60px;
	top: 0px;
	width: 34px;
	height: 28px;
	content: " ";
}
#owl .item .author{
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 300;
	color: #535353;
	font-size: 15px;
	line-height: 18px;
	position: relative;
}
#owl .item .author span{
	text-transform: uppercase;
	color: #7c7c7c;
	font-size: 12px;
}
#owl .item .author:after{
	display: block;
	width: 58px;
	height: 58px;
	content: " ";
	margin-top: 20px;
}
#owl .item .author.mateusz:after {
	background: url("../../img/new/mateusz.png") center center no-repeat;
}
#owl .item .author.pawel:after {
	background: url("../../img/new/pawel.png") center center no-repeat;
}
#owl .item .author.yana:after {
	background: url("../../img/new/yana.png") center center no-repeat;
}
#owl .item .author.krystian:after {
	background: url("../../img/new/krystian.png") center center no-repeat;
}
#owl .item .author.marek:after {
	background: url("../../img/new/marek.png") center center no-repeat;
}
#owl .item .author.jose:after {
	background: url("../../img/new/josemiguel.png") center center no-repeat;
}
#owl .item .author.anthony:after {
	background: url("../../img/new/anthony.png") center center no-repeat;
}
#owl .item .author.patricia:after {
	background: url("../../img/new/patricia.png") center center no-repeat;
}
.owl-theme .owl-controls{
	margin-top: 50px;
}
.owl-theme .owl-controls .owl-page span{
	background: url("../../img/new/bulletInactive.png") center center no-repeat;
	width: 21px;
	height: 21px;
	opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span{
	background: url("../../img/new/bulletActive.png") center center no-repeat;
}
.sliderContainer>h3{
	text-align: center;
	color: #3a3a3a;
	font-size: 40px;
	padding: 100px 0px 20px 0px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}
.sliderContainer>p{
	text-align: center;
	color: #3a3a3a;
	font-size: 18px;
	line-height: 24px;
	padding: 0px 0px 50px 0px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}
.darkSection{
	width: 100%;
	height: 230px;
	background: #fff;
}
.lastSection{
	width: 100%;
	box-sizing: border-box;
	position: relative;
	padding-top: 30px;
	background: #ffffff
}
.lastSection .items{
	text-align: center;
	margin-bottom: 50px;
}
.lastSection .items .item{
	
	display: inline-block;
}
.lastSection .items .item p:before{
	content: " ";
	width: 30px;
	height: 4px;
	background: #07c0a1;
	display: block;
	margin: 7px auto;
}
.lastSection .items .item p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #7d7d7e;
	line-height: 24px;
	font-size: 22px;
	padding-bottom: 7px;
}
.lastSection .items .item span{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #7d7d7e;
	line-height: 14px;
	font-size: 13px;
}
.darkSection>p{
    font-weight: 300;
    color: #A5A5A5;
    font-size: 21px;
    line-height: 28px;
    position: relative;
    padding-bottom: 15px;
    text-align: center;
    padding: 20px 0;
}
.darkSection p.title{
	text-align: center;
    font-weight: 300;
    color: #2d2d2d;
    font-size: 40px;
    padding-bottom: 0px;
    padding-top: 40px;
}
.darkSection form:after{
	width: 412px;
	height: 1px;
	content: " ";
	display: block;
	margin: 50px auto;
}
.darkSection input[type="text"]{
	border: 1px solid #e5e5e5;
	background: #fff;
	padding-left: 55px;
	box-sizing: border-box;
	width: 455px;
	height: 50px;
	line-height: 50px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
}
.darkSection input[type="button"]{
	background: #07c0a1;
	color: #ffffff;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 170px;
	height: 48px;
	line-height: 48px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	font-weight: 400;
	border: none;
}
.darkSection input[type="button"]:hover{
	background: #00deb8;
}
.darkSection>form{
	text-align: center;
}
.darkSection>form>span{
	position: relative;
	width: 455px;
	height: 50px;
	display: inline-block;
}
.darkSection>form>span:before{
	position: absolute;
	top: 18px;
	left: 20px;
	background: url("../../img/new/iconMail.png") center center no-repeat;
	width: 27px;
	height: 17px;
	display: block;
	content: " ";
}
.clientOpinionsCompanies{
	width: 100%;
	text-align: center;
	margin-top: 48px;
}
.clientOpinionsCompanies ul{
	width: 100%;
	text-align: center;
}
.clientOpinionsCompanies ul li{
	height: 50px;
	display: inline-block;
}
footer{
	background: #22282a;
	width: 100%;
	padding: 30px 0;
}

footer .desc{
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	line-height: 17px;
	padding-top: 15px;
}

footer .button{
	width: 260px;
	height: 30px;
	background: none;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 6px;
	border: 1px solid #07c0a1;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	line-height: 30px;
	text-decoration: none;
	margin: 20px 0px;
}
footer .button:hover {
	background: #07c0a1;
	color: #fff;
}
footer .contact{
	color: #ffffff;
	font-size: 13px;
	display: block;
	font-weight: 300;
}
footer .contact a{
	text-decoration: none;
	color: #42cbaa;
}
footer .contact a:hover{
	text-decoration: none;
	color: #ffffff;
}
@media all and (max-width:800px) {
	footer .languageSelector {
		padding: 10px 0;
		width: 100%;
   		 text-align: center;
	}

	footer .copyright {
		width: 100%;
   		text-align: center;
	}
}
footer .copyright span{
	margin-top: 0px;
	color: #b0b0b0;
	font-size: 13px;
	font-weight: 300;
}
footer .copyright a{
	text-decoration: none;
	color: #42cbaa;
}
footer .copyright a:hover{
	text-decoration: underline;
}

footer h4{
	font-family: "Roboto Condensed",sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #52c8a9;
	font-size: 17px;
	padding-bottom: 25px;
}
footer a{
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #aaaaaa;
}
footer a:hover{
	text-decoration: underline;
}
footer p{
	text-decoration: none;
	font-size: 13px;
	line-height: 24px;
	color: #aaaaaa;
}
footer .social a:hover{
	opacity: 0.8;
}
footer .fb{
	background: url("../../img/new/face.png");
}
footer .tt{
	background: url("../../img/new/tt.png");
}
footer .yt{
	background: url("../../img/new/yt.png");
}
footer .languageSelector{
	position: relative;
	float: right;
}
footer .languageSelector span:before{
	content: " ";
	background: url("../../img/new/miniMap.png");
	width: 32px;
	height: 18px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 4px;
}
footer .languageSelector span{
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	color: #aaaaaa;
}
footer .languageSelector span a{
	text-transform: uppercase;
	text-decoration: none;
	color: #52c8a9;
	margin-left: 3px;
	cursor: pointer;
}
footer .languageSelector label{
	position: relative;
}
footer .languageSelector label:after{
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #52c8a9 transparent transparent transparent;
	display: inline-block;
	margin-left: 3px;
	position: absolute;
	right: 6px;
	top: 5px;
}
footer .languageSelector select{
	text-transform: uppercase;
	text-decoration: none;
	color: #52c8a9;
	margin-left: 3px;
	cursor: pointer;
	border: none;
	background: transparent;
	font-size: 13px;
}
footer .languageSelector option{
	font-size: 13px;
	color: #52c8a9;
	background: #212121;
	border: 1px solid #52c8a9;
}

.appSection{
	background: #f7f8fa;
}
.appSection>h3{
	font-size: 40px;;
	color: #3a3a3a;
	text-align: center;
	padding-top: 90px;
}
.appSection>p{
	padding: 20px 0px 50px 0px;
	font-size: 18px;
	color: #3a3a3a;
	text-align: center;
	line-height: 24px;
	max-width: 500px;
	margin: 0 auto;
}
.appSection>div{
	margin: 0 auto;
	width: 960px;
}
.appSection>div>img{
	float: left;

}
.appSection>div>div{
	float: right;
}
.appSection>div>div p{
	max-width: 405px;
	font-size: 16px;
	line-height: 28px;
	color: #787878;
	padding: 50px 0px;
}
.appSection>div>div a{
	margin-right: 20px;
}
.popUp{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.64);
	z-index: 99999;
}
.popUp.active{
	display: block;
}
.popUp .content{
	position: absolute;
	top: 50%;
	margin-top: -160px;
	left: 50%;
	margin-left: -280px;
}
.popUp .close{
	content: "X";
	width: 25px;
	height: 25px;
	position: absolute;
	top: -25px;
	right: -25px;
	background: #ffffff;
	border-radius: 25px;
	line-height: 25px;
	text-align: center;
	color: #07c0a1;
	cursor: pointer;
}
.boxicons {
	margin: 0px 12px 12px 0px;
	position: relative;
	top: 5px;
}
.hamburger{
	display: none;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 99;
	padding: 50px 70px;
	box-sizing: border-box;
}
.hamburger .logo{
	float: left;
	display: block;
}
.hamburger .menu{
	position: fixed;
	top: 0px;
	right: 0px;
	box-sizing: border-box;
	width: 0px;
	overflow: visible;
	background: #000000;
	height: 100%;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.hamburger .menu ul{
	float: left;
	opacity: 0;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.hamburger .menu ul li{
	height: 32px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	line-height: 32px;
	margin: 20px;
}
.hamburger .menu ul li a, .hamburger .menu ul li form a{
	color: #ffffff;
	text-decoration: none;
}
.hamburger .menu ul li:hover{
	cursor: pointer;
}
.hamburger .menu ul li:first-child{
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 3px;
	border: 1px solid #ffffff;
	-webkit-transition: background 0.3s; /* Safari */
	transition: background 0.3s;
	background: #00deb8;
	border: 1px solid #00deb8;
	padding: 5px 25px;
}
.hamburger .icon{
	position: absolute;
	top: 50px;
	right: 70px;
	background: url("../../img/new/hamburger.png") no-repeat;
	width: 48px;
	height: 26px;
	cursor: pointer;
}
.hamburger.active .menu ul{
	opacity: 1;
}
.hamburger.active .icon{
	background: url("../../img/new/close.png") no-repeat;
}
.hamburger.active .menu{
	padding: 90px 70px;
	width: 70%;
	-webkit-box-shadow: 24px 0px 108px 60px rgba(0,0,0,0.66);
	-moz-box-shadow: 24px 0px 108px 60px rgba(0,0,0,0.66);
	box-shadow: 24px 0px 108px 60px rgba(0,0,0,0.66);
}

.clients-logo {
    width: 100px;
    text-align: center;
    float: left;
}

@media all and (max-width: 1667px) {
	.clients-logo {
		width: 14%;
	}
}

.clients-logo img {
	width: 100%;
	height: auto;
	display: block;
}

.nav {
	padding: 30px 100px 30px 100px;
}

.sticky-menu {
	position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0;
    z-index: 100;
    border-top: 0;
    background: #fff;
    height: 55px;
    padding: 10px 100px 0 0;
    transition:0s;
    -moz-transition:0s;
    -webkit-transition:0s;
    -webkit-box-shadow: 0 4px 14px -7px #a8a8a8;
    box-shadow: 0 4px 14px -7px #a8a8a8;
}

.sticky-menu a, .sticky-menu > i {
	color: #3C3C3C !important;
}

.sticky-menu > .logo{ 
	display: none !important;
}

.sticky-menu > .logo2 { 
	display: block !important;
	padding-left: 15px;
}

.sticky-menu .dropdown-link::after {
	content: '\f078';
    font-family: FontAwesome;
    right: -5px;
    top: 0;
    color: #1791D6;
    font-size: 8px;
    position: absolute;
}

.sticky-menu  div.login {
	border-left: dashed 1px rgb(216, 216, 216);
}

.sticky-menu li.signup {
	background: #1791D6;
}

.sticky-menu li.signup a {
	color: #fff !important;
}

.sticky-menu .dashboard {
	background: #1791D6;
}

.sticky-menu .dashboard a {
	color: #fff !important;
	border-radius: 4px;
}




@media (max-width: 1366px){
	header.newImage .bg p {/*new*/
		/** padding: 130px 50px 0px 50px; **/
		font-size: 35px;
		line-height: 30px;
	}
}
@media (max-width: 1100px) {
	footer .right .col{
		width: 130px;
	}
	/* 50 Shades of Gray 
	 #owl .item.transparent{ 
		opacity: 1;
	}*/
	.lastSection .items .item{
		
		margin: 20px 0px;
	}
	.lastSection{
		height: initial;
		padding-bottom: 50px;
	}
}
@media (max-width: 960px) {
	body {
		overflow-x:hidden;
	}
	header .companies ul li:nth-child(7){
		display: none
	}
	nav{
		display: none;
	}
	.hamburger{
		display: block;
	}
	.appSection>div>div {
		float: none;
		margin: 0 auto;
	}
	.appSection>div>img {
		float: none;
		width: 446px;
		margin: 50px auto 0px auto;
		display: block;

	}
	.appSection>div {
		margin: 0 auto;
		width: auto;
	}
	.appSection .download-buttons img {
		width: 140px !important;
	}
	.box .center{
		width: 100%;
		height: initial;
		overflow: hidden;
	}
	.box h2:before{
		display: none;
	}
	.box{
		width: 100%;
		position: relative;
		overflow: hidden;
		background: #f7f8fa;
	}
	.box .text input[type=button]{
		margin-left: auto;
		margin-right: auto;
	}
	.box .text, .box.boxTwo .text {
		width: 95%;
		text-align: center;
		margin: 40px auto;
		position: static;
		transform: initial;
		float: none;
	}
	.box.boxOne p:after,.box.boxTwo p:after, .box.boxThree p:after {
		margin: 25px auto;
	}
	.box.boxOne .image {
		background: url("../../img/new/mbox1.jpg")left top;
		position: static;
		transform: initial;
		width: 534px;
		height: 400px;
		margin: 0 auto;
	}
	.box.boxTwo .image{
		background: url("../../img/new/mbox2.jpg")left top;
		position: static;
		transform: initial;
		width: 654px;
		height: 400px;
		margin: 0 auto;
	}
	.box.boxThree .image{
		background: url("../../img/new/mbox3.jpg")left top;
		position: static;
		transform: initial;
		width: 598px;
		height: 400px;
		margin: 0 auto;
	}
	.mapContainer{
		height: initial;
		padding-bottom: 40px;
	}
	.lastSection>form>span, .lastSection input[type="text"]{
		width: 315px;
	}
	.appSection {
		padding:0 15px;
		margin: 0 auto;
	}
	.clients-logo {
	    width: 63px;
	    text-align: center;
	    float: left;
	}
	.clients-logo img {
		width: 100%;
		padding: 10px 0;
		height: auto;
		display: block;
	}
	.price-box {
		margin-bottom: 30px;
	}
	.price-box .price_table_h_desc {
		height: auto !important;
		min-height: 0 !important;
	}
	.sub_pricing_meta {
		width: 100% !important;
	}
	header .clear {
	    height: calc(100vh) !important;
	    min-height: 100vh !important;
	    height: 100vh !important;
	}
	footer .right {
		float: none;
		width: 550px;
		margin: 0 auto;
		display: block;
	}
	footer .left {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}
	footer .left .desc {
		margin: 0 auto;
	}
	footer .left .button{
		margin: 20px auto;
	}
	.headerimg {
		opacity: 1;
		filter: alpha(opacity=0);
	}
	header.newImage .bg h1 {
		padding: 28px 110px 0px 110px;
	}
}


@media (min-width:1901px){
	header.newImage .bg p {/*new*/
		/** padding-top: 210px; **/
	}
}

@media all and (min-width: 1366px) and (max-height: 650px) {
	header.newImage .headerimg img {
		display: none;
	}
}

@media all and (min-width: 1400px) and (min-height: 600px) and (max-height: 775px) {
	header.newImage .headerimg img {
		width: 35% !important
	}
}

@media all and (min-width: 1500px) and (max-height: 650px) {
	header.newImage .headerimg img {
		display: none;
	}
}


@media all and (min-width: 1601px) and (max-height: 850px) {
	header.newImage .headerimg img {
		max-width: 480px;
	}
}


@media all and (min-width: 2200px) and (max-height: 930px) {
	header.newImage .headerimg img {
		display: none;
	}
}



@media (max-width:898px){
	header.newImage.noSearch .bg .headerimg {
		bottom: 200px;
	}
	header.newImage .bg p {/*new*/
		/** padding: 200px 100px 0px 110px; **/
		line-height: 50px;
	}
	header.newImage .bg h1 {
		padding: 28px 20px 0px 20px;
	}

	.boxicons {
	    position: relative;
	    top: 17px;
	    clear: both;
	    display: block;
	    margin: 0 auto;
	    padding-bottom: 29px;
	}

	.boxOne .text {
		margin-top: 25px !important;
	}

	.appSection>div>img {
		width: 300px;
	}

	.darkSection>form>span {
		width: auto;
	}

	.darkSection input[type="text"] {
		width: 330px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.darkSection {
		height: auto;
	}

	.darkSection form:after {
		margin:0;
	}

	.darkSection input[type="button"] {
		margin-top: 20px;
	}

	.lastSection .items .item {
		
	}

}
@media (max-height: 768px){
	header.newImage .headerimg img {
		min-width: 460px;
		width: 43%;
		height: inherit;
	}
}
@media (max-height: 720px){
	header{
		height: 100%;
	}
	header.newImage .headerimg img {
		max-width: 480px;
		width: 60%;
		height: inherit;
	}
}

@media all and (max-height: 620px) {
	header.newImage .headerimg {
		display: none;
	}
} 

@media all and (max-height: 705px) and (min-width: 1600px) {
	.headerimg {
		display: none;
	}

	header .clear {
	    height: calc(100vh);
	    min-height: 100vh;
	    height: 100vh;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	}
}

@media all and (max-device-height: 1024px) {
	.headerimg {
		display: block;
	}

	header .clear {
	    height: calc(100vh);
	    min-height: 100vh;
	    height: 100vh;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	}
}

@media all and (max-width: 961px) {
	.headerimg {
		display: none;
	}
}


@media (max-width: 800px){
	.olrk-normal, #livechat-compact-container, #intercom-container {
	  display: none !important;
	}
	header.newImage .bg p {/*new*/
		/** padding: 100px 50px 0px 50px; **/
	}
	header.newImage .bg img {
		max-width: 830px;
		min-width: 456px;
		width: 60%;
		height: inherit;
	}
}
.animateblock {
	padding: 8px 0;
	color: #fff;
	opacity: 0;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.animateblock.animated {
	opacity: 1;
}
.animateblock.btm {
	display: block;
	width: auto;
	margin-top: 105px;
}
.animateblock.btm.animated {
	margin-top: 0;
}
.cookiePolicy{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	text-align:center;
	background:#fff;
	z-index:2147483635;
	-webkit-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	font-family: Arial, Helvetica, sans-serif;
}

.cookiePolicy p{
	color:#666;
	font-size:12px;
	line-height:42px;
	height:0;
}

.cookiePolicy p a{
	color:#00deb8;
	text-transform: lowercase;
}

.cookiePolicy span{
	position:absolute;
	top:12px;
	width:18px;
	height:18px;
	margin-left:10px;
	background-image:url(../../img/close-btn.png);
	background-position:0px 0px;
	background-repeat: no-repeat;
	display:inline-block;
	cursor:pointer;
	opacity:0.5;
}

.cookiePolicy span:hover{
	opacity:1;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
	header.newImage .bg p {/*new*/
		/** padding: 210px 50px 0px 50px; **/
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	header.newImage .bg p {/*new*/
		/** padding: 170px 50px 0px 50px; **/
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	header.newImage .bg p {/*new*/
		/** padding: 210px 50px 0px 50px; **/
	}
}

@media only screen
and (min-width: 900px)
and (max-width: 1200px)
and (min-height: 900px)
and (max-height: 1010px){
	header.newImage .bg p {/*new*/
		padding: 290px 50px 0px 50px;
	}
}

@media screen and (-moz-images-in-menus: 0) {
  header.newImage .bg img { transform: scale(0.85); transform-origin: 50% 100% 0px; }
  header .bg h1 { font-size: 16px;line-height: 10px; }
  header.newImage .bg h1 { padding: 12px 0px 0px; }
  header.newImage .bg input[type="submit"] { margin: 25px auto 0px; }
  header.noSearch .bg { padding-top: 40px; }
}

@media screen and (-moz-images-in-menus: 0) and (max-width: 1370px) {
  header.newImage .bg img { transform: scale(0.85); transform-origin: 50% 100% 0px; }
  header .bg p { font-size: 30px;line-height: 15px; }
  header .bg h1 { font-size: 16px;line-height: 10px; }
  header.newImage .bg h1 { padding: 22px 0px 0px; }
  header.newImage .bg input[type="submit"] { margin: 25px auto 0px; }
  header.noSearch .bg { padding-top: 40px; }
  header.newImage.search .bg p { padding: 116px 50px 0px; }
}

.box .text,.box.boxTwo .text {
	top: initial !important;
	transform: none !important;
}
.box .image,.box.boxTwo .image {
	top: initial !important;
	transform: none !important;
}

/*nowe style*/
.boxOne .text{
	margin:100px 0;
}
.boxTwo .text{
	margin:100px 0;
}
.boxOne .image{
	margin-top:120px
}
.boxTwo .image{
	margin-top:120px
}
.boxThree .text{
	margin:100px 0;
}
.boxThree .image{
	margin-top:60px
}


/* Alerts */
.message--wrapper {
	 position:absolute;
	z-index: 999;
	top: 0px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	padding: 0px;
	height: 100px
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background: rgba(230, 83, 83, 0.69);

}

.message--wrapper .message--title {
	font-family: Arial;
	color: #ffffff;
	text-align: center;
	padding: 10px;
}

.message--wrapper .message--description {
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	color: #ffffff ;
	padding: 0px 0px 10px 0px;
}

.panel_big .message--wrapper {
	margin: -20px -20px 20px;
}

.message--infoMessage {
	background: #f1f1f3;
	padding: 50px;
}

.message--infoMessageC {
	background: #bbeab9 url('../../img/infoMessageC.png') no-repeat -30px center;
}

.message--infoMessageC .message--title {
	color: #324831;
}

.message--infoMessageC .message--description {
	color: #4e934b;
}

.message--infoMessageE {
	background: #f1c8c8 url('../../img/infoMessageE.png') no-repeat -30px center;
}

.message--infoMessageE .message--title {
	color: #483131;
}

.message--infoMessageE .message--description {
	color: #934b4b;
}

.message--infoMessageQ {
	background: #ddd url('../../img/infoMessageQ.png') no-repeat -30px center;
}

.message--infoMessageI {
	background: #d9edf7 url('../../img/infoMessageI.png') no-repeat -30px center;
}

.message--infoMessageI .message--title {
	color: #2679a3;
}

.message--infoMessageI .message--description {
	color: #4398c4;
}

@media (max-width: 450px){
	.headerimg{
		display: none;
	}
}
header.search .bg {
  height: 100%;
}
header.newImage.search .bg .headerimg {
	top: inherit;
	position: absolute;
	width: 100%;
	bottom: 81px;
}
@media (max-width: 1601px){
	header.newImage.search .bg p {
		padding: 104px 50px 0px 50px;
	}
	header.newImage .headerimg img{
		width: 46%
	}
}
@media (max-width: 1501px){
	header.newImage.search .bg p {
		padding: 100px 50px 0px 50px;
	}
}
@media (max-width: 1366px){
	header.newImage.search .bg p{
		padding: 210px 50px 0px 50px;
	}
	header.newImage.search .bg .headerimg{
		display: none;
	}
}
@media (max-width: 1100px){
	header.newImage.search .bg p{
		padding: 130px 50px 0px 50px;
	}
}
@media (max-width: 960px){
	footer .left.euImg, footer .right.euImg{
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
		margin-top: 30px;
	}
	footer .desc {
		width: 100%;
	}
	.footer-about {
		text-align: center;
	}
	footer .button {
		display: inline-block;
	}

	footer .contact {
		font-size: 15px;
	}
}
@media (max-width: 898px){
	header.newImage.search .bg .headerimg {
		bottom: 200px;
	}
}
@media (max-width: 841px){
	header.newImage.search .bg p{
		padding: 36% 50px 0px 50px;
	}
	header.newImage.search .bg .headerimg{
		display: none;
	}
	header.header {
		padding-top: 100px;
	}
}
@media (max-height: 640px){
	header.newImage.search .bg p{
		padding: 160px 50px 0px 50px;
	}
	header.newImage.search .bg .headerimg{
		display: none;
	}
}
@media all and (max-width: 468px) {
	.euImg img {
		width: 100%;
	}
	body.homepage .main-title {
		margin-top: 35% !important;
	}
}
.socialTop {
  margin-top: 10px;
  margin-left: 12px;
  float: right;
  color: #fff !important;
}

@media all and (max-width: 1220px) {
	.socialTop {
		display: none !important;
	}
}

.socialTop.twitter{
	width: 25px;
	height: 25px;
	display:inline-block;
	background: url('../../img/new/social_icon_twitter.png') center center no-repeat;
}
.socialTop.facebook{
	width: 25px;
	height: 25px;
	display:inline-block;
	background: url('../../img/new/social_icon_fb.png') center center no-repeat;
}
.socialTop:hover{
	opacity: 0.7;
}
.hamburger .socialTop {
  margin-top: 4px;
  margin-left: 10px;
  float: left;
}
.hamburger .socialTop.twitter {
  width: 45px;
  height: 45px;
  display: block;
  background: url("../../img/new/social_icon_twitter_32x32.png") center center no-repeat;
}
.hamburger .socialTop.facebook {
  width: 45px;
  height: 45px;
  display: block;
  background: url("../../img/new/social_icon_fb_32x32.png") center center no-repeat;
  margin-left: 30px;
}
footer .right .fb,footer .right .tt,footer .right .yt{
	display: inline-block;
	width: 20px;
	height: 15px;
	margin-right: 15px;
}
@media (min-height: 1150px) {
	header.newImage .headerimg img {
		max-width: 1070px;
   }
}
header.newImage .bg p span{
	display: none;
	width: auto;
}
header.newImage .bg p span:before, header.newImage .bg p span:after{
	display: none;
}
header.newImage .bg p span.brand-word-visible{
	display: inline;
}




/**************  -/integrations/slack/  ***************/

body.integrations-slack header.header {
	background: url(../../img/headers/slack-integration.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

body.integrations-slack .content a {
	color: #1791D6;
	text-decoration: none;
	font-weight: 400;
}

body.integrations-slack .text-center {
	text-align: center;
}

body.integrations-slack .content p {
	padding: 20px 0;
}

body.integrations-slack .intro-text {
	font-weight: 300;
	font-size: 20px;
	line-height: 38px;
	display: block;
	text-align: center;
	padding: 50px 0;
}

body.integrations-slack header.core-header {
	min-height: 400px;
	height: auto !important;
	text-align: center;
	background-color: #000;
	background: url("../../img/new/headbg.jpg") center center no-repeat;
    background-size: cover;
}

body.integrations-slack header.core-header h1 {
	font-size: 44px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 100 !important;
	font-family: 'Roboto', sans-serif;
	padding-top: 130px;
	padding-bottom: 20px;
}

body.integrations-slack header.core-header h2 {
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
}

body.integrations-slack .subheader {
	padding: 15px 0 0 0;
	border-bottom: solid 1px #e3e3e3;
}

body.integrations-slack .subheader ul {
	text-align: center;
    width: auto;
    margin: 0 auto;
    display: table;
}

body.integrations-slack .subheader li {
	padding-right: 30px;
	padding-bottom: 15px;
	float: left;
}

body.integrations-slack .subheader li:last-child {
	padding-right: 0px !important;
}

body.integrations-slack .subheader a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000 !important;
	padding-bottom: 15px;
}

body.integrations-slack .subheader i {
	color: #1791D6;
}

body.integrations-slack .subheader a:hover {
	border-bottom: solid 2px #1791D6;

}


body.integrations-slack .integrations-content .row {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: solid 1px #e3e3e3;
}

body.integrations-slack .integrations-content .intro {
	text-align: center;
	font-size: 19px;
	line-height: 30px;
	font-weight: 300 !important;
	padding-bottom:	50px;
}

body.integrations-slack .integrations-content .intro svg {
	width: 80px !important;
	max-height: 100px !important;
	height: auto !important;
	margin: 30px auto 0 auto !important;
	display: block;
}

body.integrations-slack .integrations-content h3 {
	font-size: 24px;
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding: 15px 0 30px 0;
	margin: 0px 0 40px 0;
	position: relative;
}

body.integrations-slack .integrations-content h3::after {
	width: 30px;
	background: #1791D6;
	height: 1px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 48%;
}

body.integrations-slack .step-number {
	width: 50px;
	height: 50px;
	font-weight: 300;
	color: #1791D6;
	text-align: center;
	border-radius: 50%;
	border: solid 1px #1791D6;
	padding: 12px 0 0 5px;
	font-size: 18px;
	display: block;
	margin-bottom: 15px;
}

body.integrations-slack .step-finish {
	width: 50px;
	height: 50px;
	font-weight: 300;
	color: #1791D6;
	text-align: center;
	border-radius: 50%;
	border: solid 1px #1791D6;
	padding: 15px 0 0 1px;
	font-size: 18px;
	display: block;
	margin: 0 auto 0 auto;
}

body.integrations-slack .description {
	font-size: 19px;
	line-height: 28px;
	font-weight: 300;
}

body.integrations-slack .integrations-content img {
	-webkit-box-shadow: 0px 0px 28px 0px rgba(227,227,227,1);
	-moz-box-shadow: 0px 0px 28px 0px rgba(227,227,227,1);
	box-shadow: 0px 0px 28px 0px rgba(227,227,227,1);
}

body.integrations-slack .bg-info {
	background-color: #F6FCFF;
	padding: 12px !important;
	font-size: 14px;
	border-radius: 4px;
	border: solid 1px #ADCEDF;
	color: #70B3D6;
	box-sizing: border-box;
	margin-top: 40px;
	display: block;
}

body.integrations-slack .bg-info i {
	padding-right:10px;
}

body.integrations-slack .bg-info strong {
	font-weight: 600 !important;
}

body.integrations-slack .noborder {
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}

body.integrations-slack #support {
	background: #FAFAFE;
}

body.integrations-slack #support .back {
	font-size: 13px;
	margin-top: 30px;
	display: inline-block;
	padding:5px 10px;
	border:solid 1px #1791D6;
	border-radius: 4px;
}

body.integrations-slack #support .back i {
	padding-right: 6px;
}

body.integrations-slack #support .back:hover {
	background:#1791D6;
	color:#fff;
	trensitin:all 0.5s;
}

.panel-default {
	margin-bottom: 15px !important;
}

.panel-default > .panel-heading {
	background: #fff !important;
}

.panel-default .panel-body {
	font-size: 17px !important;
	font-weight: 400 !important;
	padding: 30px 40px;
}

.mb30 {
	margin-bottom: 30px;
	display: block;
}
.bg-info a {
	color: #70B3D6 !important
}

.benefits svg {
	width: 300px !important;
	height: auto !important;
	margin: 50px auto 30px auto !important;
	display: block;
}

.benefits h3 {
	font-size: 32px !important;
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding: 15px 0 30px 0;
	margin: 0px 0 40px 0;
	position: relative;
}

.benefits h4 {
	font-size: 20px !important;
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	position: relative;
	color: #1791D6;
}

.benefits .benefit {
	text-align: left !important;
	line-height: 24px;
	padding: 0 20px;
}

.benefits .benefit p {
	padding: 0 !important;
}

.benefits .benefit i {

	font-size: 25px;
	color: #1791D6;
	border-radius: 50%;
	border:solid 1px #1791D6;
	display: block;
	width: 70px;
	height: 70px;
	text-align: center;
	margin-bottom: 20px;
	padding: 22px;
}

.benefits .benefit li:first-child {
	width: 20%;
	float: left;
}

.benefits .benefit li span {
	font-size: 13px;
}


.benefits .btn-cta {
	background: #1791D6;
	border-radius: 3px;
	padding: 10px 16px !important;
	color: #fff !important;
	font-size: 14px;
	font-weight: 400;
	display: table !important;
    margin: 20px auto;
    width: auto;
    clear: both;
    text-align: center;
}


body.integrations-slack .btn-cta  {
	text-transform: uppercase;
}

.btn-cta {
	background: #1791D6;
	border-radius: 4px;
	padding: 8px 16px;
	display: inline-block;
	margin: 10px 10px 10px 0px;
	color: #fff !important;
	text-align: center;
	font-size: 14px;
}

.dblock {
	display: inline-block !important;
}




/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	
	body.integrations-slack .hamburger {
		display: none !important
	}

	body.integrations-slack img {
		margin: auto;
		display: block;
	}

	body.integrations-slack .step-number {
		margin: 50px auto 0 auto;
	}

	body.integrations-slack .description {
		margin: 30px;
		text-align: center;
	}

	body.integrations-slack .subheader li {
		font-size: 15px;
	}

	body.integrations-slack .benefit {
		min-height: 110px;
	}

}



/* Smartphone Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
	
	body.integrations-slack .hamburger {
		display: none !important
	}

	body.integrations-slack img {
		margin: auto;
		display: block;
	}

	body.integrations-slack .step-number {
		margin: 50px auto 0 auto;
	}

	body.integrations-slack .description {
		margin: 30px;
		text-align: center;
	}

	body.integrations-slack .subheader li {
		font-size: 15px;
	}

	body.integrations-slack .benefit {
		min-height: 110px;
	}

}


/* Smartphone Portrait */
@media only screen and (min-device-width: 320px) and (orientation: portrait) {
	
	body.integrations-slack .hamburger {
		display: none;
	}

	body.integrations-slack .socialTop {
		display: none !important;
	}
	
	body.integrations-slack nav ul li a, nav ul li form a {
		font-size: 16px !important;
	}

	body.integrations-slack img {
		margin: auto;
		display: block;
	}

	body.integrations-slack h3 {
		font-weight: 500 !important;
	}

	body.integrations-slack .step-number {
		margin: 50px auto 0 auto;
	}

	body.integrations-slack .intro {
		font-size: 19px;
    	line-height: 50px !important;
	}

	body.integrations-slack .description {
		margin: 30px;
		text-align: center;
		font-size: 19px;
    	line-height: 50px !important;
	}

	body.integrations-slack .subheader li {
		font-size: 22px;
	}

	body.integrations-slack .benefit {
		min-height: 110px;
		font-size: 16px !important;
	}

	body.integrations-slack .benefit span {
		font-size: 10px !important;
	}

	body.integrations-slack .step-number {
		padding: 3px 0 0 5px !important;
	}

	body.integrations-slack .integration-support {
		text-align: center;
		font-size: 16px !important;
    	line-height: 44px !important;
	}


	body.integrations-slack #support .panel-body {
		font-size: 15px !important;
	}



}


.header a:hover {
	color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 99999;
}

.dropdown-link {
	padding-right: 10px;
	position: relative;
}

.dropdown-link::after {
	content: '\f078';
    font-family: FontAwesome;
    right: -5px;
    top: 0;
    color: #fff;
    font-size: 8px;
    position: absolute;
}

.dropdown .subnav {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 250px;
    padding: 12px 16px;
    z-index: 1;
    border-bottom: none !important;
    z-index: 99999;
   	text-align: left !important 
}

.dropdown:hover .subnav {
    display: block;
}

.dropdown .subnav li {
	float: none;
    clear: both;
    padding-bottom: 2px;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 13px !important;
    font-weight: 400;
    list-style: none;
    padding-left: 15px !important;
    padding-top: 5px;
    margin-left: 0 !important;
    
}

.dropdown .subnav li:last-child {
	padding-left: 0;
	margin-left: 0;
	border: none;
	
}

.dropdown .subnav li:last-child a {
	padding:0 !important;
}

.dropdown .subnav li:last-child:hover {
	background: none;
	border: none;
}

.dropdown .subnav li:hover a {
	color: #1791D6 !important;
}

.dropdown .subnav li a {
	color:#fff !important;
}

.dropdown .subnav li a:hover {
	color:#1791D6;
	trasition:all 1s;
	-moz-trasition:all 1s;
	-webkit-trasition:all 1s;
	text-decoration: none;
	border-bottom: none;
}

.dropdown .subnav li a i {
	padding-right:15px;
	color: #1791D6 !important;
	width: 25px;
	font-size: 16px;
	text-align: center;
}


.miniheader {
	padding-bottom:0 !important;
}

@media all and (min-width: 800px) {
	div.login {
		float: left;
	    margin-left: 30px;
	    padding-left: 30px;
	    border-left: dashed 1px rgba(255,255,255,0.2);
	}
}


/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: relative;
	background: #000;
	padding: 0 25px 0 25px;
	min-height: 42px;
	z-index: 999999;
	margin-bottom: 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    box-sizing: border-box !important;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 7px;
	right: 10px !important;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #fff;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #000;
	padding: 15px 0px 15px 0px !important;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	margin-top: 40px;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	margin-left: 0 !important;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 11px 5%;
	margin: 0;
	text-align: left;
	color: #fff;
	border-bottom: 1px solid #2D2D2D;
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	width: 91%;
	padding: 10px 25px;
	border-top: 1px solid #f1f1f1;
	border-top: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
    color: #38F3CA;
    font-size: 12px;
}

.mean-container .mean-nav ul li li:last-child a {
	padding: 10px 25px !important;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 32px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	border: none !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #1791D6;
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-container .dropdown-link::after {
	content: '' !important;
}

.mean-container .dropdown .subnav {
	position: relative !important;
	background: none !important;
	margin-top:0 !important;
}

.mean-container .dropdown .subnav li {
	border-bottom:none !important;
	padding-top:0 !important;
	font-size: inherit !important;
	padding:0 !important;
	margin:0 !important;
	font-weight:500 !important;
	position: relative;
}


.mean-container .login {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.mean-container .login li {
	text-align: center;
	float: left;
	width: 47% !important;
	margin-right: 5%;
}

.mean-container .login li a {
	text-align: center !important;
}

.mean-container .login li.signup a {
	background: #1791D6;
	border: 1px solid #1791D6 !important;
}

.mean-container .login li:last-child {
	margin-right: 0;
}
.mean-container .login li.login {
	margin-top:0;
}

.mean-container .login li.signup {
	border: none !important;
}

.mean-container .login li.signup a {
	border-radius: 3px;
}

.mean-container .login li form {
	display: block;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}

header .clear {
	height: calc(70vh);
    min-height: 70vh;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
 
@media all (max-device-width: 1024px) {
	header .clear {
		height: calc(90vh);
	    min-height: 90vh;
	    height: 90vh;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	}
}


body.homepage .signup:hover {
	border: solid 1px #1791D6 !important;
}

body.homepage .signup-nav:hover {
	background:#1791D6 !important;
	color: #fff !important;
	border-radius: 4px;
	
}



/* Portrait */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  	.centerize {
		margin-top: 50%;
	}

}

@media all and (max-device-width: 1024px) and (orientation: portrait) {
	.companies, .boxOne, .boxTwo, .boxThree, .mapContainer, .sliderContainer, .mobileapp, .darkSection, .lastSection, footer {
		overflow-x: hidden 
	}
}


/****** SIGN UP RESPONSIVE FIX ******/
	
	.btn_green, .btn_facebook_register {
		width: 100%;
	}

@media all and (max-width:468px) {
	.reg_form {
		width: 100%;
	}

	.btn_facebook_register {
		background: #3b5998 !important;
	}

	.login-link {
		position: relative;
		width: 100%;
	    padding: 20px 0;
	    text-align: center;
	}

	.reg-laurels img {
		max-width: 100%;
	}
}

/****** EMD: SIGN UP RESPONSIVE FIX ******/


/****** SIGN UP RESPONSIVE FIX ******/

.companies .label {
	float: left;
    padding: 0 20px;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    color: #BDBDBF;
}
.companies .label i {
	width: 100%;
	font-size: 12px;
}

.companies .slides img {
    padding: 0 12px;
}

.companies .slides .logotypes {

}

.companies .slides .logotypes img {
	max-width: 100%;
}

.mobile-clients {
	width: 100%;
	padding-left: 0;
	margin-left: 0;
}

.mobile-clients img {
	padding-right: 15px;
	float: left;
	max-width: 100%;
}
.mobile-clients img:last-child {
	padding-right: 0;
}
/****** END: SIGN UP RESPONSIVE FIX ******/

@media all and (min-width:960px) and (max-width:1024px) {
	nav .logo, nav .logo2 {
		margin-left: 10px;
	}
	nav .logo img, nav .logo2 img {
		max-width: 80%;
	}
	.nav {
		padding: 30px 10px 30px 100px;
	}
	.sticky-menu {
		padding: 10px 10px 30px 100px;
	}
}




/****** NEW FOOTER ******/

footer.main-footer hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border-top: 1px solid #333333 !important;
}